@using Microsoft.AspNetCore.Http.Extensions
<div class="row">
    <div class="col-sm-4">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home Index</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Default">Home Default</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Member">Home Member</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Admin">Home Admin</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
                <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@this.Context.Request.GetEncodedPathAndQuery()">Account Login</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout">Account Logout</a>
            </li>
        </ul>
    </div>
</div>