@using Microsoft.AspNetCore.Http.Extensions
<div class="row">
    <div class="col-sm-3">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home Index</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="PeekPool">Home PeekPool</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Default">Home Default</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                <a asp-controller="Manage" asp-action="Escape">Manage Escape</a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="AdminOp">Manage AdminOp</a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="SuperOp">Manage SuperOp</a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="LeaderOp">Manage LeaderOp</a>
            </li>
            <li>
                <a asp-controller="Manage" asp-action="LeaderOpOverrideAdminOp">Manage LeaderOp(OverrideAdminOp)</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                <a asp-controller="Simple" asp-action="Escape">Simple Escape</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="GuestOp">Simple GuestOp</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="LoginOp">Simple LoginOp</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="VodOp">Simple VodOp</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="LiveOp">Simple LiveOp</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="Unsure">Home Unsure</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="Unsure2">Home Unsure2</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="DemoOp">Simple DemoOp</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="DemoOp2" asp-route-orgId="123">Simple DemoOp2?orgId=123</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="DemoOp2" asp-route-orgId="456">Simple DemoOp2?orgId=456</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="DemoOp3" asp-route-orgId="777">Simple DemoOp3?orgId=777</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="DemoOp3" asp-route-orgId="888">Simple DemoOp3?orgId=888</a>
            </li>
            <li>
                <a asp-controller="Simple" asp-action="PortalEntry">Simple PortalEntry</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                <a asp-controller="Account" asp-action="Login" asp-route-redirected="false" asp-route-returnUrl="@this.Context.Request.GetEncodedPathAndQuery()">Account Login</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Logout">Account Logout</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="ChangeUnsure">Account ChangeUnsure</a>
            </li>
        </ul>
    </div>
</div>