<div>
    <span>Click to --> </span><a asp-controller="Account" asp-action="AutoLogin" asp-route-role="">Auto Login As Simple User</a>
</div>
<div>
    <span>Click to --> </span><a asp-controller="Account" asp-action="AutoLogin" asp-route-role="Leader">Auto Login As Leader</a>
</div>
<div>
    <span>Click to --> </span><a asp-controller="Account" asp-action="AutoLogin" asp-route-role="Admin">Auto Login As Admin</a>
</div>