<div class="row">
    <div class="col-sm-3">
        <ul>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/Logout">Logout</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/AutoLogin?role=">Auto Login As No Role</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/AutoLogin?role=Admin">Auto Login As Admin</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/AutoLogin?role=Super">Auto Login As Super</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/AutoLogin?role=Admin,Super">Auto Login As Admin,Super</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/AutoLogin?role=Leader">Auto Login As Leader</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/SetDemoBased?allowed=true">Set SetDemoBased true</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/SetDemoBased?allowed=false">Set SetDemoBased false</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/SetSmartOpRule?rule=*||*">SetSmartOpRule Need Guest</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/SetSmartOpRule?rule=-||*">SetSmartOpRule Need Login</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/SetSmartOpRule?rule=-||Admin">SetSmartOpRule Need Role Admin</a>
            </li>
            <li>
                <span>Click to --> </span><a href="~/DemoAccount/SetSmartOpRule?rule=-||Super">SetSmartOpRule Need Role Super</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-3">
        <h2>Check Page</h2>
        <ul>
            <li>
                <span>Check --> </span><a href="~/Demo/Anonymous">Anonymous</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/NeedLogin">NeedLogin</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/NeedAdmin">NeedAdmin</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/NeedAdminSuper">NeedAdmin,Super</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/NeedLeader">NeedLeader</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/NotRegistered">NotRegistered</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/DemoBasedOp">DemoBasedOp</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/GuestOp">GuestOp</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/LoginOp">LoginOp</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/AdminOp">AdminOp</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/SuperOp">SuperOp</a>
            </li>
            <li>
                <span>Check --> </span><a href="~/Demo/SmartOp">SmartOp</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <h2>Check Api</h2>
        <ul>
            <li>
                <span>Api Check --> </span><a href="~/Api/Demo/Anonymous">Anonymous</a>
            </li>
            <li>
                <span>Api Check --> </span><a href="~/Api/Demo/NeedLogin">NeedLogin</a>
            </li>
            <li>
                <span>Api Check --> </span><a href="~/Api/Demo/NeedAdmin">NeedAdmin</a>
            </li>
            <li>
                <span>Api Check --> </span><a href="~/Api/Demo/NeedAdminSuper">NeedAdmin,Super</a>
            </li>
            <li>
                <span>Api Check --> </span><a href="~/Api/Demo/NeedLeader">NeedLeader</a>
            </li>
        </ul>
    </div>
</div>