@{
    var success = true;
    if (ViewBag.Message != null)
    {
        string theMsg = ViewBag.Message.ToString();
        if (theMsg.Contains("401"))
        {
            success = false;
        }
        if (theMsg.Contains("403"))
        {
            success = false;
        }
        if (theMsg.Contains("K.O."))
        {
            success = false;
        }
    }
}
@if (!success)
{
    <h2 style="color: red">@DateTime.Now : @ViewBag.Message</h2>
}
else
{
    <h2 style="color: green">@DateTime.Now : @ViewBag.Message</h2>
}