<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <partial name="_DemoMessage" />
        <hr />
        <partial name="_DemoControlPointRegistry" />
        <hr />
        <partial name="_DemoAuthLinks" />
        <hr />
        <partial name="_DemoAuthContext" />
        <hr />
        @RenderBody()
        <script src="~/App/DemoApi.js"></script>
    </div>
</body>
</html>
