<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <partial name="_Message" />
    <hr />
    <partial name="_DemoAuthLinks" />
    <hr />
    <partial name="_DemoAuthContext" />
    <hr />
    @RenderBody()
</body>
</html>
